.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
}
  
.nav-item {
    float: left;
}
  
.nav-item .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.nav-item .nav-link:hover {
    background-color: #202020;
}

.brand {
  text-align: center;
}

.installcommand {
  font-size: 2rem;
  text-align: center;
}

.note {
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .main{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-left: 1rem;
      margin-right: 1rem;
      color: #ededf0;
  }
}
.pipinstruction {
    font-family: Consolas,"courier new";
    color: rgb(67, 220, 20);;
    background-color: #27282E;
    padding: 2px;
    font-size: 100%;
}

